---
title: Tabs
---

.test-horizontal
  each style in ['base', 'border']
    each size in ['small', 'medium', 'large']
      h4= `Tabs ${size} ${style}`
      ul.a-tabs(class=`-${style} -${size}`)
        li.-active
          a(href='#') Active tab
        li
          a(href='#') Tab link
        li
          a(href='#') Tab link

  each style in ['base', 'border']
    each size in ['small', 'medium', 'large']
      h4= `Tabs ${size} ${style} icons`
      ul.-icons.a-tabs(class=`-${style} -${size}`)
        li.-active
          a(href='#')
            div(class=`a-icon`)
              svg
                use(xlink:href='#icon-atom')
            span Active tab
        li
          a(href='#')
            div(class=`a-icon`)
              svg
                use(xlink:href='#icon-atom')
            span Tab link
        li
          a(href='#')
            div(class=`a-icon`)
              svg
                use(xlink:href='#icon-atom')
            span Tab link

h2 vertical

each style in ['', 'border']
  div(class=`test-vertical-${style}`)
    each size in ['small', 'medium', 'large']
      h4= `Tabs vertical ${size} ${style}`
      ul.a-tabs.-vertical(class=`-${style} -${size}`)
        li(class=`-active`)
          a(href='#') Active tab
          ul.a-tabs__subtabs
            li
              a(href='#') Buttons
            li
              a(href='#') Button Groups
            li
              a(href='#') Cards
        li
          a(href='#') Tab link
        li
          a(href='#') Tab link
        li
          a(href='#') Tab link

each style in ['', 'border']
  div(class=`test-vertical-icons-${style}`)
    each size in ['small', 'medium', 'large']
      h4= `Tabs vertical icons ${size} ${style}`
      ul.a-tabs.-vertical.-icons(class=`-${style} -${size}`)
        li(class=`-active`)
          a(href='#')
            div(class=`a-icon`)
              svg
                use(xlink:href='#icon-atom')
            span Active tab
          ul.a-tabs__subtabs
            li
              a(href='#') Buttons
            li
              a(href='#') Button Groups
            li
              a(href='#') Cards
        li
          a(href='#')
            div(class=`a-icon`)
              svg
                use(xlink:href='#icon-atom')
            span Tab link
        li
          a(href='#')
            div(class=`a-icon`)
              svg
                use(xlink:href='#icon-atom')
            span Tab link
        li
          a(href='#')
            div(class=`a-icon`)
              svg
                use(xlink:href='#icon-atom')
            span Tab link
