---
title: Button
scripts:
  - js/ce/ux-chi-ce

---
p.-text
  | Buttons are used to trigger actions in forms, modals, and more.

h3 Button tags
p.-text
  | To render a button, use the tag <code>&lt;chi-button&gt;</code>.
  | The <code>&lt;chi-button&gt;</code> emits a custom event that you can listen to, the event name is <code>chiClick</code>
.example.-mb--3
  .-p--3.-d--flex
    each type in ['Button', 'Link', 'Input', 'Submit', 'Reset']
      div.-pr--2
        chi-button()= type
  :code(lang='html')
    <chi-button>Button</chi-button>
    <chi-button>Link</chi-button>
    <chi-button>Input</chi-button>
    <chi-button>Submit</chi-button>
    <chi-button>Reset</chi-button>

h3 Examples

h4 Base
p.-text
  | Chi includes a wide variety of predefined button colors. For most cases,
  | the base and <code>primary</code> buttons will be sufficient. For special cases,
  | such as rendering a destructive action button, a <code>danger</code> button may be used.
.example.-mb--3
  .-p--3.-d--flex
    each type, val in {Base:'', Primary:'primary', Secondary:'secondary', Danger:'danger', Dark:'dark'}
      div.-pr--2
        chi-button(color=type)= val
  :code(lang='html')
    <chi-button>Base</chi-button>
    <chi-button color='primary'>Primary</chi-button>
    <chi-button color='secondary'>Secondary</chi-button>
    <chi-button color='danger'>Danger</chi-button>
    <chi-button color='dark'>Dark</chi-button>

h4 Outline
p.-text
  | To remove a buttons solid background and keep it's colored border, apply the attribute
  | <code>outline</code> on the <code>&lt;chi-button&gt;</code> tag.
.example.-mb--3
  .-p--3.-d--flex
    each type, val in {Base:'', Primary:'primary', Secondary:'secondary', Danger:'danger', Dark:'dark'}
      div.-pr--2
        chi-button(color=type, outline)= val
  :code(lang='html')
    <chi-button outline>Base</chi-button>
    <chi-button color='primary' outline>Primary</chi-button>
    <chi-button color='secondary' outline>Secondary</chi-button>
    <chi-button color='danger' outline>Danger</chi-button>
    <chi-button color='dark' outline>Dark</chi-button>

h4 Flat
p.-text
  | To render a button with a transparent background and border, set the attribute <code>type</code> value to
  | <code>flat</code> on the <code>&lt;chi-button&gt;</code> tag.
.example.-mb--3
  .-p--3.-d--flex
    each type, val in {Base:'', Primary:'primary', Secondary:'secondary', Danger:'danger', Dark:'dark'}
      div.-pr--2
        chi-button(color=type, flat)= val
  :code(lang='html')
    <chi-button flat>Base</chi-button>
    <chi-button color='primary' flat>Primary</chi-button>
    <chi-button color='secondary' flat>Secondary</chi-button>
    <chi-button color='danger' flat>Danger</chi-button>
    <chi-button color='dark' flat>Dark</chi-button>

h3 Pill
p.-text To render buttons with a more pronounced border-radius, set the attribute <code>pill</code> on the <code>&lt;chi-button&gt;</code> tag..
h4 Base
.example.-mb--3
  .-p--3.-d--flex
    each type, val in {Base:'', Primary:'primary', Secondary:'secondary', Danger:'danger', Dark:'dark'}
      div.-pr--2
        chi-button(color=type, pill)= val
  :code(lang='html')
    <chi-button pill>Base</chi-button>
    <chi-button color='primary' pill>Primary</chi-button>
    <chi-button color='secondary' pill>Secondary</chi-button>
    <chi-button color='danger' pill>Danger</chi-button>
    <chi-button color='dark' pill>Dark</chi-button>

h3 Fluid
p.-text Buttons can be expanded to fill the parent space by applying the attribute
  | <code>fluid</code> on the <code>&lt;chi-button&gt;</code> tag.
.example.-mb--3
  .-p--3
    each type, val in {Base:'', Primary:'primary', Secondary:'secondary', Danger:'danger', Dark:'dark'}
      .-pb--2
        chi-button(color=type, fluid, style='width:100%')= val
  :code(lang='html')
    <chi-button fluid>Base</chi-button>
    <chi-button color='primary' fluid>Primary</chi-button>
    <chi-button color='secondary' fluid>Secondary</chi-button>
    <chi-button color='danger' fluid>Danger</chi-button>
    <chi-button color='dark' fluid>Dark</chi-button>

h4 Outline
.example.-mb--3
  .-p--3.-d--flex
    each type, val in {Base:'', Primary:'primary', Secondary:'secondary', Danger:'danger', Dark:'dark'}
      div.-pr--2
        chi-button(color=type, outline, pill)= val
  :code(lang='html')
    <chi-button pill outline>Base</chi-button>
    <chi-button color='primary' pill outline>Primary</chi-button>
    <chi-button color='secondary' pill outline>Secondary</chi-button>
    <chi-button color='danger' pill outline>Danger</chi-button>
    <chi-button color='dark' pill outline>Dark</chi-button>

h3 Icon buttons
p.-text
  | For interfaces with limited space, an <code>icon</code> button can
  | be used for common actions such as editing, deleting, closing, etc.
.example.-mb--3
  .-p--3
    chi-button(type='icon')
      .a-btn__content
        chi-icon(icon='atom')
    chi-button(flat, class='-ml--2', type='icon')
      .a-btn__content
        chi-icon(icon='atom')
  :code(lang='html')
    <chi-button type='icon' >
      <div class="a-btn__content">
        <chi-icon icon='atom' />
      </div>
    </chi-button>

    <!-- flat -->
    <chi-button flat type='icon' >
      <div class="a-btn__content">
        <chi-icon icon='atom' />
      </div>
    </chi-button>

h4 Labeled icon buttons
.example.-mb--3
  .-p--3(style="display:inline-flex;")
    chi-button()
      .a-btn__content
        chi-icon(icon='atom')
        span Button
    chi-button(class='-mr--2 -ml--2')
      .a-btn__content
        span Button
        chi-icon(icon='atom')
    chi-button()
      .a-btn__content
        chi-icon(icon='atom')
        span Button
        chi-icon(icon='atom')
  :code(lang='html')
    <!-- left aligned -->
    <chi-button>
      <div class="a-btn__content">
        <chi-icon icon='atom' />
        <span>Button</span>
      </div>
    </chi-button>

    <!-- right aligned -->
    <chi-button>
      <div class="a-btn__content">
        <span>Button</span>
        <chi-icon icon='atom' />
      </div>
    </chi-button>

    <!-- both sides -->
    <chi-button>
      <div class="a-btn__content">
        <chi-icon icon='atom' />
        <span>Button</span>
        <chi-icon icon='atom' />
      </div>
    </chi-button>

h4 Floating icon buttons
.example.-mb--3
  .-p--3.-d--flex
    each type in ['', 'primary', 'secondary', 'danger', 'dark']
      div.-pr--2
        chi-button(color=type, type='float')
          chi-icon(icon='atom')
  :code(lang='html')
    <chi-button type='float'>
      <div class="a-btn__content">
        <chi-icon icon='atom' />
      </div>
    </chi-button>

    <chi-button type='float' color='primary'>
      <div class="a-btn__content">
        <chi-icon icon='atom' />
      </div>
    </chi-button>

    <chi-button type='float' color='secondary'>
      <div class="a-btn__content">
        <chi-icon icon='atom' />
      </div>
    </chi-button>

    <chi-button type='float' color='danger'>
      <div class="a-btn__content">
        <chi-icon icon='atom' />
      </div>
    </chi-button>

    <chi-button type='float' color='dark'>
      <div class="a-btn__content">
        <chi-icon icon='atom' />
      </div>
    </chi-button>


h4 Close icon button

.example.-mb--3
  .-p--3
    chi-button(type='close')
  :code(lang="html")
    <chi-button type='close'></chi-button>

h3 Sizes
p.-text
  | Buttons supports a full spectrum of sizes: <code>sm</code>, <code>md</code>,
  |  <code>lg</code>, <code>xl</code>.
  | The default size is <code>md</code>.
.example.-mb--3
  .-p--3
    each size in ['sm', 'md', 'lg', 'xl']
      p.-text--bold.-pl--2= size
      div(class=`a-col -w--12 -pb--2 -mr--0`, style='display:inline-flex;')
        chi-button(size=size)= 'Button'
        chi-button(size=size, type='icon', class='-ml--1')
          .a-btn__content
            chi-icon(icon='atom')
  :code(lang='html')
    <!-- sm -->
    <chi-button size='sm'>
      Button
    </chi-button>
    <chi-button type='icon' size='sm'>
      <div class="a-btn__content">
        <chi-icon icon='atom' />
      </div>
    </chi-button>

    <!-- md -->
    <chi-button size='md'>
      Button
    </chi-button>
    <chi-button type='icon' size='md'>
      <div class="a-btn__content">
        <chi-icon icon='atom' />
      </div>
    </chi-button>

    <!-- lg -->
    <chi-button size='lg'>
      Button
    </chi-button>
    <chi-button type='icon' size='lg'>
      <div class="a-btn__content">
        <chi-icon icon='atom' />
      </div>
    </chi-button>

    <!-- xl -->
    <chi-button size='xl'>
      Button
    </chi-button>
    <chi-button type='icon' size='xl'>
      <div class="a-btn__content">
        <chi-icon icon='atom' />
      </div>
    </chi-button>
